@import "../../styles/varibale.scss";

.btnContainer {
  .button {
    width: 370px;
    height: 55px;
    background-color: $dark-color;
    color: $white-color;
    border-radius: 7px;
    font-size: 20px;
    border: 1px solid $dark-color;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: lighten($dark-color, 10%);
    }
  }
}
