@import "../../styles/varibale.scss";

.menu {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $dark-color;

    span {
      margin-left: 10px;
      font-size: 18px;
    }
  }
  svg {
    font-size: 24px;
  }
}

@media screen and (max-width: 650px) {
  .menu {
    display: none !important;
  }
}
