* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.menuContainer {
  flex: 1;
  border-right: 1px solid grey;
  overflow-y: auto;
}

.contentContainer {
  flex: 5;
  overflow-y: auto;
}

@media screen and (max-width: 700px) {
  .menuContainer {
    display: none;
  }
}
