.home {
  padding: 20px;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    padding-top: 10px;

    .box {
      border: 1px solid grey;
      height: 250px;
      border-radius: 7px;
    }
    .box1 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .box7 {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }
}
