@import "../../styles/varibale.scss";

.textInput {
  .my-input {
    width: 370px;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid;
    padding: 5px 8px 5px 8px;
    border-radius: 7px;
    caret-color: $soft-color;
  }
}
