@import "../../styles/varibale.scss";

.navbar {
  background-color: $nav-bg;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;

  .ham {
    display: none;
    cursor: pointer;

    svg {
      font-size: 30px;
    }
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    span {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
  .nav-links {
    font-size: 1.2rem;
    display: flex;
    gap: 20px;

    .svg-inline--fa {
      margin-right: 10px;
      cursor: pointer;
      transition: color 0.2s;

      &:hover {
        color: lightblue;
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 1000;
    justify-content: flex-start;

    .modal-content {
      padding: 20px 0 0 0;
      height: 100%;
      width: 35%;
      display: flex;
      justify-content: flex-start;
    }
  }

  .nav-link-user {
    display: flex;
    align-items: center;

    .svg-inline--fa {
      cursor: pointer;
    }

    span {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .nav-links,
  .logo span {
    display: none !important;
  }
  .ham {
    display: block !important;
  }
}
